body {
    background-color: #172d13;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    background-color: #d76f30;
    color: #281b0d;
}

h3 {
    background-color: #d76f30;
    color: #281b0d;
}

h4 {
    background-color: #d76f30;
    color: #281b0d;
}

a {
    color: #6bb77b;
    background-color: #d76f30;
}

li {
    text-align: center;
}

ul {
    text-align: center;
}
